@charset "utf-8";

//  font family
$ff-default: 'mplus-1m', 'Roboto', sans-serif;
$ff-roboto: 'Roboto', sans-serif;

//  text
$text-white: #fff;
$text-black: #707070;
$text-brown: #3c2a10;
$text-search: #808080;

//  bgc
$bgc-white: #fff;
$bgc-black: #000;
$bgc-gray: #f5f5f5;
$bgc-header: #fff7ef;
$bgc-body: #fffdfa;
$bgc-sidebar: #f2ede9;
$bgc-btn: linear-gradient(to bottom, #f2ede9 30%, #e2dcd7 50%, #e1dbd6 60%, #e1dbd6 99%, #ded8d3);
$bgc-card: #3c2b1c;
$bgc-page: #3c2b1c;

$WIDTH_XS: 361px;
$WIDTH_SM: 641px;
$WIDTH_MD: 769px;
$WIDTH_LG: 961px;

@mixin breakpoint($point) {
	@if $point == xs {
		@media (min-width: $WIDTH_XS) {
			@content;
		}
	}

	@if $point == sm {
		@media (min-width: $WIDTH_SM) {
			@content;
		}
	}

	@if $point == md {
		@media (min-width: $WIDTH_MD) {
			@content;
		}
	}

	@if $point == lg {
		@media (min-width: $WIDTH_LG) {
			@content;
		}
	}
}

// @include breakpoint(xs) {
//
// }
// @include breakpoint(sm) {
//
// }
//
// @include breakpoint(md) {
//
// }
//
// @include breakpoint(lg) {
//
// }
