@charset "utf-8";

@use '../../variable/_variable.scss' as *;

.c-ttl_under {
	font-family: $ff-roboto;
	font-weight: bold;
	font-size: 4.1rem;

	white-space: nowrap;
	text-align: left;
	color: $text-white;

	@include breakpoint(sm) {
		font-size: 4.4rem;
	}

	@include breakpoint(lg) {
		font-size: 8rem;
	}

	&::after {
		content: '';
		display: none;

		width: 1em;
		height: 4px;
		margin-top: 0px;

		background-color: $bgc-white;

		@include breakpoint(lg) {
			display: block;
			margin-top: 21.5px;
		}

		@include breakpoint(lg) {
			margin-top: 34.5px;
		}
	}
}
