@charset "utf-8";

@use '../variable/_variable.scss' as *;

.l-contents {
	display: flex;

	&__main {
		width: 100%;
	}

	&__sidebar {
		position: fixed;
		z-index: 10;
		top: 0;
		right: -100vw;

		width: 328px;
		height: auto;

		opacity: 0;
		background-color: $bgc-sidebar;
		transition: all 0.25s;

		@include breakpoint(sm) {
			width: 367px;
		}
	}

	//  js付与
	&__sidebar.open {
		top: 0;
		right: 0;

		height: 100%;

		opacity: 1;
	}

	@include breakpoint(lg) {
		&__sidebar {
			position: static;

			opacity: 1;
			background-color: $bgc-sidebar;
		}
	}
}
