/* Box sizing rules */
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */
html {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		-webkit-animation-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
		-webkit-transition-duration: 0.01ms !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
html {
	font-size: 62.5%;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	font-family: 'mplus-1m', 'Roboto', sans-serif;
	text-align: center;
	font-size: 1.6rem;
	color: #707070;
	background-color: #fffdfa;
}

h4,
h5,
h6 {
	margin: 0;
}

ol {
	margin: 0;
	-webkit-padding-start: 0px;
	padding-inline-start: 0px;
}

ul {
	margin: 0;
	list-style: none;
	-webkit-padding-start: 0px;
	padding-inline-start: 0px;
}

li {
	width: 100%;
}

img {
	vertical-align: bottom;
}

a {
	color: inherit;
	display: block;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
a:hover {
	opacity: 0.7;
}

table {
	border-collapse: collapse;
}

button,
label,
input,
textarea {
	background-color: transparent;
	border: none;
	outline: none;
}

button {
	cursor: pointer;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	resize: none;
}

body.open {
	overflow: hidden;
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
.dbg1 {
	color: black;
	background: rgba(255, 99, 71, 0.5);
	outline: 0.5px solid rgba(0, 0, 0, 0.5);
}

.dbg2 {
	color: black;
	background: rgba(135, 206, 235, 0.5);
	outline: 0.5px solid rgba(0, 0, 0, 0.5);
}

.dbg3 {
	color: black;
	background: rgba(144, 238, 144, 0.5);
	outline: 0.5px solid rgba(0, 0, 0, 0.5);
}

.dbg4 {
	color: black;
	background: rgba(210, 180, 140, 0.5);
	outline: 0.5px solid rgba(0, 0, 0, 0.5);
}

.dbg5 {
	color: black;
	background: rgba(255, 182, 193, 0.5);
	outline: 0.5px solid rgba(0, 0, 0, 0.5);
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
@font-face {
	font-family: 'mplus-1m';
	src: url('../../font/mplus-1m-bold.ttf') format('truetype'), url('../../font/mplus-1m-regular.ttf') format('truetype');
}
.l-contents {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.l-contents__main {
	width: 100%;
}
.l-contents__sidebar {
	position: fixed;
	z-index: 10;
	top: 0;
	right: -100vw;
	width: 328px;
	height: auto;
	opacity: 0;
	background-color: #f2ede9;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
@media (min-width: 641px) {
	.l-contents__sidebar {
		width: 367px;
	}
}
.l-contents__sidebar.open {
	top: 0;
	right: 0;
	height: 100%;
	opacity: 1;
}
@media (min-width: 961px) {
	.l-contents__sidebar {
		position: static;
		opacity: 1;
		background-color: #f2ede9;
	}
}

.c-btn,
.c-btn__search {
	width: 100%;
	line-height: 104px;
	font-weight: bold;
	color: #707070;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #f2ede9), color-stop(50%, #e2dcd7), color-stop(60%, #e1dbd6), color-stop(99%, #e1dbd6), to(#ded8d3));
	background: -webkit-linear-gradient(top, #f2ede9 30%, #e2dcd7 50%, #e1dbd6 60%, #e1dbd6 99%, #ded8d3);
	background: linear-gradient(to bottom, #f2ede9 30%, #e2dcd7 50%, #e1dbd6 60%, #e1dbd6 99%, #ded8d3);
	border: 1px solid #707070;
	border-radius: 10px;
	cursor: pointer;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}
@media (min-width: 641px) {
	.c-btn,
	.c-btn__search {
		width: 31.7%;
	}
}
.c-btn:focus,
.c-btn__search:focus,
.c-btn:hover,
.c-btn__search:hover {
	opacity: 0.7;
}

.c-btn__search {
	width: 25%;
	line-height: 46px;
}

.c-card-btn {
	display: inline-block;
	width: 60%;
	line-height: 76px;
	font-weight: bold;
	color: #3c2a10;
	background-color: #fff;
	border-radius: 38px;
}

.c-container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 1rem;
}

.c-current {
	color: #fff !important;
	background-color: #3c2b1c !important;
}

.c-mask.open {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.c-mask__mv {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.c-side-btn {
	width: 32px;
	height: 32px;
	cursor: pointer;
}
.c-side-btn span {
	display: block;
	position: absolute;
	width: 32px;
	height: 3px;
	background-color: #707070;
	border-radius: 3px;
}
.c-side-btn span:nth-child(1) {
	top: 15px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.c-side-btn span:nth-child(2) {
	top: 15px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.c-ttl_under {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 4.1rem;
	white-space: nowrap;
	text-align: left;
	color: #fff;
}
@media (min-width: 641px) {
	.c-ttl_under {
		font-size: 4.4rem;
	}
}
@media (min-width: 961px) {
	.c-ttl_under {
		font-size: 8rem;
	}
}
.c-ttl_under::after {
	content: '';
	display: none;
	width: 1em;
	height: 4px;
	margin-top: 0px;
	background-color: #fff;
}
@media (min-width: 961px) {
	.c-ttl_under::after {
		display: block;
		margin-top: 21.5px;
	}
}
@media (min-width: 961px) {
	.c-ttl_under::after {
		margin-top: 34.5px;
	}
}

.p-block-quote {
	margin-top: 60px;
	padding: 3.7%;
	text-align: left;
	background-color: #f5f5f5;
}
.p-block-quote blockquote {
	font-size: 1.6rem;
	line-height: 1.3125;
}
.p-block-quote blockquote cite {
	display: block;
	margin-top: 60px;
}
.p-block-quote blockquote cite a {
	display: inline-block;
	text-decoration: underline;
}
.p-block-quote blockquote cite a:link {
	color: #00f;
}
.p-block-quote blockquote cite a:visited {
	color: #609;
}
.p-block-quote blockquote cite a:hover {
	color: #f03;
}

.p-btn {
	margin-top: 60px;
	text-align: left;
}

.p-card-sec {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	margin-top: 30px;
	background-color: #3c2b1c;
}
@media (min-width: 641px) {
	.p-card-sec {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}
.p-card-sec:first-child {
	margin-top: 100px;
}
@media (min-width: 961px) {
	.p-card-sec:first-child {
		margin-top: 70px;
	}
}
.p-card-sec__img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}
@media (min-width: 641px) {
	.p-card-sec__img {
		width: 50%;
	}
}
.p-card-sec__figcaption {
	width: 100%;
	padding: 2.9rem 5.9rem 4rem 3.4rem;
	color: #fff;
}
@media (min-width: 641px) {
	.p-card-sec__figcaption {
		width: 50%;
	}
}
@media (min-width: 961px) {
	.p-card-sec__figcaption {
		padding: 5.3rem 3.4rem 6rem 3.3rem;
	}
}
.p-card-sec__figcaption h2 {
	font-size: clamp(2rem, 2rem + 1vw, 3.6rem);
	font-weight: bold;
	text-align: left;
}
.p-card-sec__figcaption h3 {
	margin-top: 25px;
	font-size: clamp(1.6rem, 1.6rem + 1vw, 2.4rem);
	font-weight: bold;
	text-align: left;
}
@media (min-width: 641px) {
	.p-card-sec__figcaption h3 {
		margin-top: 50px;
	}
}
@media (min-width: 961px) {
	.p-card-sec__figcaption h3 {
		margin-top: 25px;
	}
}
.p-card-sec__figcaption p {
	margin-top: 11px;
	text-align: left;
}
@media (min-width: 961px) {
	.p-card-sec__figcaption p {
		margin-top: 19px;
	}
}
.p-card-sec__figcaption a {
	margin-top: 45px;
}
@media (min-width: 961px) {
	.p-card-sec__figcaption a {
		margin-top: 60px;
	}
}

.p-code {
	margin-top: 63px;
	padding: 50px;
	text-align: left;
	color: #3c2a10;
	background-color: #f5f5f5;
}

.p-footer {
	padding: 39px 0 30px 0;
	color: #fff;
	background-image: url('../image/xs_footer@2x.jpg');
}
@media (min-width: 641px) {
	.p-footer {
		background-image: url('../image/footer@2x.jpg');
	}
}
.p-footer__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.p-footer__menu a {
	display: block;
	padding: 0px 10px;
	font-size: 2rem;
}
.p-footer__menu a + a {
	border-left: 2px solid #fff;
}
.p-footer__copy {
	display: block;
	margin-top: 35px;
	font-size: 1.4rem;
}

.p-hamburger {
	margin-top: 32px;
}
@media (min-width: 641px) {
	.p-hamburger {
		margin-top: 60px;
	}
}
.p-hamburger__bigImg img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.p-hamburger__contents {
	margin-top: 30px;
}
@media (min-width: 641px) {
	.p-hamburger__contents {
		margin-top: 60px;
	}
}
.p-hamburger__contents--list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.p-hamburger__contents--list:nth-child(even) {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.p-hamburger__contents--list img {
	width: 42.3%;
}
.p-hamburger__contents--list p {
	width: 54.2%;
	padding-bottom: 10%;
	text-align: left;
	line-height: 1.3125;
}
.p-hamburger__contents--list + .p-hamburger__contents--list {
	margin-top: 30px;
}
@media (min-width: 641px) {
	.p-hamburger__contents--list + .p-hamburger__contents--list {
		margin-top: 60px;
	}
}
.p-hamburger__smallImg {
	margin-top: 30px;
	max-width: 80%;
	margin: 0 auto;
}
@media (min-width: 641px) {
	.p-hamburger__smallImg {
		margin-top: 60px;
	}
}
.p-hamburger__smallImg img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.p-hamburger__wrapper {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	gap: 20px;
	margin-top: 30px;
}
@media (min-width: 641px) {
	.p-hamburger__wrapper {
		margin-top: 60px;
	}
}
.p-hamburger__wrapper img {
	grid-column: span 12 / span 12;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
@media (min-width: 641px) {
	.p-hamburger__wrapper img {
		grid-column: span 6 / span 6;
	}
}
@media (min-width: 961px) {
	.p-hamburger__wrapper img {
		grid-column: span 4 / span 4;
	}
}

.p-header {
	position: relative;
}
.p-header__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 217px;
	padding: 0;
	background-color: #fff7ef;
}
@media (min-width: 961px) {
	.p-header__inner {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 0 3rem 0 6.5rem;
	}
}
.p-header__inner--ttl {
	margin-top: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: clamp(4rem, 4rem + 1vw, 6.4rem);
}
@media (min-width: 961px) {
	.p-header__inner--ttl {
		margin-top: 0px;
	}
}
.p-header__btn {
	position: absolute;
	top: 18px;
	right: 26px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: clamp(2rem, 2rem + 1vw, 3.4rem);
	color: #707070;
}
@media (min-width: 961px) {
	.p-header__btn {
		display: none;
	}
}

.p-list {
	margin-top: 32px;
	margin-left: 20px;
}
@media (min-width: 641px) {
	.p-list {
		margin-top: 53px;
		margin-left: 50px;
	}
}

.p-list__ordered {
	text-align: left;
}
.p-list__ordered--list2 {
	margin-top: 23px;
	margin-left: 18px;
}
.p-list__ordered--list + .p-list__ordered--list {
	margin-top: 23px;
}

.p-list__unordered {
	margin-top: 63px;
	text-align: left;
}
.p-list__unordered--list2 {
	margin-top: 23px;
	margin-left: 18px;
}
.p-list__unordered--list + .p-list__unordered--list {
	margin-top: 23px;
}

.p-main__inner {
	padding: 20px;
}
@media (min-width: 641px) {
	.p-main__inner {
		padding: 7.7% 7.2%;
	}
}
.p-main__top {
	color: #3c2a10;
}
.p-main__top h2 {
	font-size: clamp(2.8rem, 2.8rem + 1vw, 3.6rem);
	font-weight: bold;
	text-align: left;
}
.p-main__top p {
	margin-top: 28px;
	line-height: 1.3125;
	text-align: left;
}
.p-main__top h3,
.p-main__top h4,
.p-main__top h5,
.p-main__top h6 {
	margin-top: 30px;
	font-size: 2rem;
	font-weight: bold;
	text-align: left;
}
@media (min-width: 641px) {
	.p-main__top h3,
	.p-main__top h4,
	.p-main__top h5,
	.p-main__top h6 {
		margin-top: 60px;
	}
}
.p-main__top h3:first-of-type {
	font-size: clamp(2.4rem, 2.4rem + 1vw, 2.8rem);
}

.archive .p-main,
.archive-search .p-main {
	padding-bottom: 30px;
}
@media (min-width: 641px) {
	.archive .p-main__inner,
	.archive-search .p-main__inner {
		padding: 5%;
	}
}

@media (min-width: 641px) {
	.single .p-main__inner,
	.page .p-main__inner {
		padding: 5%;
	}
}
.single .p-main__top p,
.page .p-main__top p {
	margin-top: 32px;
}
@media (min-width: 641px) {
	.single .p-main__top p,
	.page .p-main__top p {
		margin-top: 63px;
	}
}

.p-map-sec {
	position: relative;
	height: 415px;
	background: #000;
}
@media (min-width: 961px) {
	.p-map-sec {
		height: 650px;
	}
}
.p-map-sec__map {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
}
.p-map-sec__contents {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	padding-top: 40px;
	padding-right: 5%;
	padding-left: 5%;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.29);
}
@media (min-width: 961px) {
	.p-map-sec__contents {
		padding-top: 83px;
		padding-right: 8.601%;
		padding-left: 7.686%;
		width: 61%;
	}
}
.p-map-sec__contents h2 {
	font-size: clamp(3rem, 3rem + 1vw, 3.6rem);
	text-align: left;
}
.p-map-sec__contents h2::after {
	content: '';
	display: block;
	width: 2em;
	height: 2px;
	margin-top: 22px;
	background-color: #fff;
}
@media (min-width: 961px) {
	.p-map-sec__contents h2::after {
		margin-top: 58.5px;
	}
}
.p-map-sec__contents p {
	margin-top: 18px;
	padding-bottom: 5%;
	max-height: 60%;
	font-size: clamp(1.4rem, 1.4rem + 1vw, 1.6rem);
	text-align: left;
	line-height: 2;
	overflow-y: scroll;
}
@media (min-width: 961px) {
	.p-map-sec__contents p {
		margin-top: 63.5px;
		max-height: 60%;
	}
}
.p-map-sec__contents p::-webkit-scrollbar {
	display: none;
}

.p-mv {
	position: relative;
	padding-bottom: 285px;
	background-image: url('../image/xs_mv_front-page@2x.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
@media (min-width: 641px) {
	.p-mv {
		background-image: url('../image/mv_front-page@2x.jpg');
	}
}
@media (min-width: 961px) {
	.p-mv {
		padding-bottom: 530px;
	}
}
.p-mv__ttl {
	position: absolute;
	top: 50%;
	left: 25px;
	-webkit-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
	font-size: clamp(3.6rem, 3.6rem + 1vw, 4rem);
	font-weight: bold;
	color: #fff;
}
@media (min-width: 641px) {
	.p-mv__ttl {
		top: 50%;
		left: 86px;
		-webkit-transform: translate(0%, -50%);
		transform: translate(0%, -50%);
	}
}

.archive .p-mv,
.archive-search .p-mv {
	padding-bottom: 283px;
	background-image: url('../image/mv_archive@2x.jpg');
}
@media (min-width: 961px) {
	.archive .p-mv,
	.archive-search .p-mv {
		padding-bottom: 239px;
	}
}
.archive .p-mv__ttl,
.archive-search .p-mv__ttl {
	font-family: 'Roboto', sans-serif;
	font-size: clamp(3.6rem, 3.6rem + 1vw, 6rem);
}
.archive .p-mv__ttl br,
.archive-search .p-mv__ttl br {
	display: block;
}
@media (min-width: 641px) {
	.archive .p-mv__ttl br,
	.archive-search .p-mv__ttl br {
		display: none;
	}
}
.archive .p-mv__ttl span,
.archive-search .p-mv__ttl span {
	margin-top: 7px;
	font-size: 1.6rem;
	font-weight: bold;
	vertical-align: middle;
}
@media (min-width: 641px) {
	.archive .p-mv__ttl span,
	.archive-search .p-mv__ttl span {
		margin-top: 0px;
		margin-left: 20px;
	}
}

.single .p-mv {
	padding-bottom: 225px;
	background-image: url('../image/mv_single@2x.jpg');
}
@media (min-width: 641px) {
	.single .p-mv {
		padding-bottom: 500px;
	}
}
.single .p-mv__ttl {
	font-size: clamp(3.6rem, 3.6rem + 1vw, 6rem);
}

.page .p-mv {
	padding-bottom: 225px;
	background-image: url('../image/mv_page@2x.jpg');
}
@media (min-width: 641px) {
	.page .p-mv {
		padding-bottom: 500px;
	}
}
.page .p-mv__ttl {
	font-size: clamp(3.6rem, 3.6rem + 1vw, 6rem);
}

.p-pagenation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
@media (min-width: 641px) {
	.p-pagenation {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}
.p-pagenation__num {
	display: none;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
@media (min-width: 641px) {
	.p-pagenation__num {
		display: block;
	}
}
.p-pagenation__pre,
.p-pagenation__next {
	margin-left: 0px;
}
.p-pagenation__pre a,
.p-pagenation__next a {
	width: auto;
	line-height: 35px;
}
@media (min-width: 641px) {
	.p-pagenation__pre a,
	.p-pagenation__next a {
		margin-left: 19px;
		width: 35px;
	}
}
.p-pagenation__pre a span,
.p-pagenation__next a span {
	display: inline-block;
	line-height: 35px;
	padding: 0 10px;
}
@media (min-width: 641px) {
	.p-pagenation__pre a span,
	.p-pagenation__next a span {
		display: none;
	}
}
.p-pagenation__list {
	display: none;
}
@media (min-width: 641px) {
	.p-pagenation__list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
.p-pagenation__list li {
	margin-left: 15px;
}
.p-pagenation__list li a {
	width: 35px;
	line-height: 35px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	background-color: #fff;
	outline: 1px solid #707070;
}

.p-sec {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
@media (min-width: 641px) {
	.p-sec {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

.p-sec01,
.p-sec02 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	padding: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
@media (min-width: 641px) {
	.p-sec01,
	.p-sec02 {
		width: 47.42%;
	}
}
.p-sec01:nth-child(1),
.p-sec02:nth-child(1) {
	background-image: url('../image/xs_takeout_front-page@2x.jpg');
}
@media (min-width: 641px) {
	.p-sec01:nth-child(1),
	.p-sec02:nth-child(1) {
		background-image: url('../image/takeout_front-page@2x.jpg');
	}
}
.p-sec01:nth-child(2),
.p-sec02:nth-child(2) {
	margin-top: 20px;
	background-image: url('../image/xs_eatin_front-page@2x.jpg');
}
@media (min-width: 641px) {
	.p-sec01:nth-child(2),
	.p-sec02:nth-child(2) {
		margin-top: 0px;
		background-image: url('../image/eatin_front-page@2x.jpg');
	}
}
.p-sec01__wrapper,
.p-sec02__wrapper {
	margin-top: 232px;
}
@media (min-width: 641px) {
	.p-sec01__wrapper,
	.p-sec02__wrapper {
		margin-top: 644.5px;
	}
}
.p-sec01__contents,
.p-sec02__contents {
	padding: 1.2rem;
	color: #3c2a10;
	background-color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 961px) {
	.p-sec01__contents,
	.p-sec02__contents {
		padding: 2rem;
	}
}
.p-sec01__contents h3,
.p-sec02__contents h3 {
	font-size: 2.4rem;
	font-weight: bold;
	text-align: left;
}
@media (min-width: 641px) {
	.p-sec01__contents h3,
	.p-sec02__contents h3 {
		font-size: 2.2rem;
	}
}
.p-sec01__contents p,
.p-sec02__contents p {
	margin-top: 22px;
	padding-bottom: 5%;
	text-align: left;
	line-height: 1.333333;
}
@media (min-width: 961px) {
	.p-sec01__contents p,
	.p-sec02__contents p {
		margin-top: 28px;
	}
}
.p-sec01__contents + .p-sec01__contents,
.p-sec01__contents + .p-sec02__contents,
.p-sec02__contents + .p-sec01__contents,
.p-sec02__contents + .p-sec02__contents {
	margin-top: 10px;
}
@media (min-width: 961px) {
	.p-sec01__contents + .p-sec01__contents,
	.p-sec01__contents + .p-sec02__contents,
	.p-sec02__contents + .p-sec01__contents,
	.p-sec02__contents + .p-sec02__contents {
		margin-top: 20px;
	}
}

.p-search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 38px;
	width: 85.5%;
}
@media (min-width: 641px) {
	.p-search {
		width: 65.5%;
	}
}
@media (min-width: 961px) {
	.p-search {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		width: 35%;
	}
}
.p-search__word {
	width: 72%;
	height: 46px;
	padding-left: 1.2rem;
	font-size: 2rem;
	font-weight: bold;
	color: #808080;
	background-color: #fff;
	border: 1px solid #707070;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 0px 0px black;
	box-shadow: 0px 0px 0px 0px black;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}
.p-search__word:focus,
.p-search__word:hover {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.p-sidebar {
	position: relative;
	padding-left: 12.5%;
	height: 100%;
	width: 100%;
	text-align: left;
	color: #707070;
	overflow: scroll;
}
.p-sidebar::-webkit-scrollbar {
	display: none;
}
.p-sidebar__ttl {
	display: none;
	position: absolute;
	top: 82px;
	font-family: 'Roboto', sans-serif;
	font-size: 2.4rem;
	font-weight: bold;
}
@media (min-width: 961px) {
	.p-sidebar__ttl {
		display: block;
		font-size: 3.4rem;
	}
}
.p-sidebar__btn {
	position: absolute;
	top: 25px;
	right: 25px;
}
@media (min-width: 961px) {
	.p-sidebar__btn {
		display: none;
	}
}

.p-sidebar__menu {
	position: absolute;
	top: 217px;
	padding-bottom: 30%;
}
.p-sidebar__menu--ttl {
	margin-top: 50px;
	font-size: 2.4rem;
	font-weight: bold;
}
.p-sidebar__menu--ttl:first-child {
	margin-top: 0px;
}
.p-sidebar__menu--item {
	margin-top: 38px;
	margin-left: 2rem;
	font-size: 2rem;
}
.p-sidebar__menu--item li + li {
	margin-top: 23px;
}

.p-table {
	margin-top: 50px;
	background-color: #fff;
}
.p-table table {
	width: 100%;
	text-align: left;
}
.p-table tr td {
	width: 32%;
	padding: 28px 30px;
	outline: 1px solid #707070;
}
.p-table tr td:nth-child(2) {
	width: 68%;
}

.p-text-area {
	margin-top: 60px;
	text-align: left;
	color: #3c2a10;
	font-weight: bold;
}

.u-pos-fix {
	position: fixed;
}
.u-pos-rel {
	position: relative;
}
.u-pos-abs {
	position: absolute;
}
.u-pos-left-top {
	position: absolute;
	top: 0%;
	left: 0%;
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
}
.u-pos-left-center {
	position: absolute;
	top: 50%;
	left: 0%;
	-webkit-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}
.u-pos-left-bottom {
	position: absolute;
	bottom: 0%;
	left: 0%;
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
}
.u-pos-center-top {
	position: absolute;
	top: 0%;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}
.u-pos-center-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.u-pos-center-bottom {
	position: absolute;
	bottom: 0%;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}
.u-pos-right-top {
	position: absolute;
	top: 0%;
	right: 0%;
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
}
.u-pos-right-center {
	position: absolute;
	top: 50%;
	right: 0%;
	-webkit-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}
.u-pos-right-bottom {
	position: absolute;
	bottom: 0%;
	right: 0%;
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
}

.u-z-index1 {
	z-index: 100;
}

.u-z-index2 {
	z-index: 99;
}

.u-z-index3 {
	z-index: 98;
}

.u-z-index4 {
	z-index: 97;
}

.u-z-index5 {
	z-index: 96;
}

.u-z-index6 {
	z-index: 95;
}

.u-z-index7 {
	z-index: 94;
}

.u-z-index8 {
	z-index: 93;
}

.u-z-index9 {
	z-index: 92;
}

.u-z-index10 {
	z-index: 91;
}
