@charset "utf-8";

@use "../../variable/_variable.scss" as *;

.p-block-quote {
	margin-top: 60px;
	padding: 3.7%;

	text-align: left;
	background-color: $bgc-gray;

	blockquote {
		font-size: 1.6rem;
		line-height: 1.3125;

		cite {
			display: block;
			margin-top: 60px;

			a {
				display: inline-block;
				text-decoration: underline;

				&:link {
					color: #00f;
				}

				&:visited {
					color: #609;
				}

				&:hover {
					color: #f03;
				}
			}
		}
	}
}
