@charset "utf-8";

@use '../../variable/_variable.scss' as *;

.p-card-sec {
	display: flex;
	flex-direction: column;

	width: 100%;
	margin-top: 30px;
	background-color: $bgc-card;

	@include breakpoint(sm) {
		flex-direction: row;
	}

	&:first-child {
		margin-top: 100px;

		@include breakpoint(lg) {
			margin-top: 70px;
		}
	}

	&__img {
		object-fit: cover;
		width: 100%;

		@include breakpoint(sm) {
			width: 50%;
		}
	}

	&__figcaption {
		width: 100%;
		padding: 2.9rem 5.9rem 4rem 3.4rem;

		color: $text-white;

		@include breakpoint(sm) {
			width: 50%;
		}

		@include breakpoint(lg) {
			padding: 5.3rem 3.4rem 6rem 3.3rem;
		}

		h2 {
			font-size: clamp(2rem, calc(2rem + 1vw), 3.6rem);
			font-weight: bold;

			text-align: left;
		}

		h3 {
			margin-top: 25px;

			font-size: clamp(1.6rem, calc(1.6rem + 1vw), 2.4rem);
			font-weight: bold;

			text-align: left;

			@include breakpoint(sm) {
				margin-top: 50px;
			}

			@include breakpoint(lg) {
				margin-top: 25px;
			}
		}

		p {
			margin-top: 11px;

			text-align: left;

			@include breakpoint(lg) {
				margin-top: 19px;
			}
		}

		a {
			margin-top: 45px;

			@include breakpoint(lg) {
				margin-top: 60px;
			}
		}
	}
}
