@charset "utf-8";

@use "../../variable/_variable.scss" as *;

.p-footer {
	padding: 39px 0 30px 0;

	color: $text-white;
	background-image: url("../image/xs_footer@2x.jpg");

	@include breakpoint(sm) {
		background-image: url("../image/footer@2x.jpg");
	}

	&__menu {
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			display: block;

			padding: 0px 10px;

			font-size: 2rem;
		}

		a + a {
			border-left: 2px solid $bgc-white;
		}
	}

	&__copy {
		display: block;

		margin-top: 35px;
		font-size: 1.4rem;
	}
}

