@charset "utf-8";

@use '../../variable/_variable.scss' as *;

.p-hamburger {
	margin-top: 32px;

	@include breakpoint(sm) {
		margin-top: 60px;
	}

	&__bigImg {
		img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__contents {
		margin-top: 30px;

		@include breakpoint(sm) {
			margin-top: 60px;
		}

		&--list {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;

			&:nth-child(even) {
				flex-direction: row-reverse;
			}

			img {
				width: 42.3%;
			}

			p {
				width: 54.2%;
				padding-bottom: 10%;

				text-align: left;
				line-height: 1.3125;
			}
		}

		&--list + &--list {
			margin-top: 30px;

			@include breakpoint(sm) {
				margin-top: 60px;
			}
		}
	}

	&__smallImg {
		margin-top: 30px;
		max-width: 80%;
		margin: 0 auto;

		@include breakpoint(sm) {
			margin-top: 60px;
		}

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(12, minmax(0, 1fr));
		gap: 20px;

		margin-top: 30px;

		@include breakpoint(sm) {
			margin-top: 60px;
		}

		img {
			grid-column: span 12 / span 12;

			width: 100%;
			object-fit: cover;

			@include breakpoint(sm) {
				grid-column: span 6 / span 6;
			}

			@include breakpoint(lg) {
				grid-column: span 4 / span 4;
			}
		}
	}
}
