@charset "utf-8";

@use "../../variable/_variable.scss" as *;

.p-map-sec {
	position: relative;

	height: 415px;

	background: $bgc-black;

	@include breakpoint(lg) {
		height: 650px;
	}

	&__map {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0.6;
	}

	&__contents {
		position: absolute;
		top: 0;
		bottom: 0;

		width: 100%;

		padding-top: 40px;
		padding-right: 5%;
		padding-left: 5%;

		color: $text-white;
		background-color: rgba($bgc-black, 0.29);

		@include breakpoint(lg) {
			padding-top: 83px;
			padding-right: calc(14.1% * 0.61);
			padding-left: calc(12.6% * 0.61);
			width: 61%;
		}

		h2 {
			font-size: clamp(3rem, calc(3rem + 1vw), 3.6rem);
			text-align: left;

			&::after {
				content: "";
				display: block;

				width: 2em;
				height: 2px;
				margin-top: 22px;

				background-color: $bgc-white;

				@include breakpoint(lg) {
					margin-top: 58.5px;
				}
			}
		}

		p {
			margin-top: 18px;
			padding-bottom: 5%;

			max-height: 60%;

			font-size: clamp(1.4rem, calc(1.4rem + 1vw), 1.6rem);
			text-align: left;
			line-height: 2;

			overflow-y: scroll;

			@include breakpoint(lg) {
				margin-top: 63.5px;
				max-height: 60%;
			}

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}
