@charset "utf-8";

@use "../../variable/_variable.scss" as *;

.p-pagenation {
	display: flex;
	align-items: center;
	justify-content: space-around;

	@include breakpoint(sm) {
		justify-content: center;
	}

	&__num {
		display: none;
		font-family: $ff-roboto;
		font-weight: bold;

		@include breakpoint(sm) {
			display: block;
		}
	}

	&__pre,
	&__next {
		margin-left: 0px;

		a {
			width: auto;
			line-height: 35px;

			@include breakpoint(sm) {
				margin-left: 19px;
				width: 35px;
			}

			span {
				display: inline-block;
				line-height: 35px;
				padding: 0 10px;

				@include breakpoint(sm) {
					display: none;
				}
			}
		}
	}

	&__list {
		display: none;

		@include breakpoint(sm) {
			display: flex;
			align-items: center;
		}

		li {
			margin-left: 15px;

			a {
				width: 35px;
				line-height: 35px;

				font-family: $ff-roboto;
				font-weight: bold;

				background-color: $bgc-white;
				outline: 1px solid $text-black;
			}
		}
	}
}

