@charset "utf-8";

@use "../../variable/_variable.scss" as *;

.p-sidebar {
	position: relative;

	padding-left: 12.5%;
	height: 100%;
	width: 100%;

	text-align: left;
	color: $text-black;
	overflow: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	&__ttl {
		display: none;
		position: absolute;
		top: 82px;

		font-family: $ff-roboto;
		font-size: 2.4rem;
		font-weight: bold;

		@include breakpoint(lg) {
			display: block;
			font-size: 3.4rem;
		}
	}

	&__btn {
		position: absolute;
		top: 25px;
		right: 25px;

		@include breakpoint(lg) {
			display: none;
		}
	}
}

.p-sidebar__menu {
	position: absolute;
	top: 217px;

	padding-bottom: 30%;

	&--ttl {
		margin-top: 50px;

		font-size: 2.4rem;
		font-weight: bold;
	}

	&--ttl:first-child {
		margin-top: 0px;
	}

	&--item {
		margin-top: 38px;
		margin-left: 2rem;

		font-size: 2rem;

		li + li {
			margin-top: 23px;
		}
	}
}
