@charset "utf-8";

@use "../../variable/_variable.scss" as *;

.p-sec {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include breakpoint(sm) {
		flex-direction: row;
	}
}

.p-sec01,
.p-sec02 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 100%;
	padding: 20px;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	@include breakpoint(sm) {
		width: calc(50% - 2.58%);
	}

	&:nth-child(1) {
		background-image: url("../image/xs_takeout_front-page@2x.jpg");

		@include breakpoint(sm) {
			background-image: url("../image/takeout_front-page@2x.jpg");
		}
	}

	&:nth-child(2) {
		margin-top: 20px;
		background-image: url("../image/xs_eatin_front-page@2x.jpg");

		@include breakpoint(sm) {
			margin-top: 0px;
			background-image: url("../image/eatin_front-page@2x.jpg");
		}
	}

	&__wrapper {
		margin-top: 232px;

		@include breakpoint(sm) {
			margin-top: 644.5px;
		}
	}

	&__contents {
		padding: 1.2rem;

		color: $text-brown;
		background-color: rgba($bgc-white, 0.8);

		@include breakpoint(lg) {
			padding: 2rem;
		}

		h3 {
			font-size: 2.4rem;
			font-weight: bold;

			text-align: left;

			@include breakpoint(sm) {
				font-size: 2.2rem;
			}
		}

		p {
			margin-top: 22px;
			padding-bottom: 5%;

			text-align: left;
			line-height: 1.333333;

			@include breakpoint(lg) {
				margin-top: 28px;
			}
		}

		& + & {
			margin-top: 10px;

			@include breakpoint(lg) {
				margin-top: 20px;
			}
		}
	}
}

