@charset "utf-8";

@use '../../variable/_variable.scss' as *;

.p-table {
	margin-top: 50px;

	background-color: $bgc-white;

	table {
		width: 100%;

		text-align: left;
	}

	tr {
		td {
			width: 32%;
			padding: 28px 30px;

			outline: 1px solid $text-black;
		}

		td:nth-child(2) {
			width: 68%;
		}
	}
}
